.m-btn-group {
  .a-button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .a-button:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
    margin-left: -2px;
  }

  .a-button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -2px;
  }
}
