$spacer-x-small: 0.25rem;
$spacer-small: 0.5em;
$spacer: 1rem;
$spacer-large: 1.5rem;
$spacer-x-large: 2rem;
$spacer-2x-large: 3rem;
$spacer-3x-large: 5rem;
$spacer-4x-large: 10rem;

$primary: #0072ff;

$text-light: #f3f3f3;
$text: #d3d3d3;
$text-dark: #b3b3b3;

$background-lighter: #202020;
$background: #181818;
$background-darker: #111111;
