<div class="m-menu">
  <div class="u-container">
    <div class="m-menu__wrapper">
      <ul>
        <li class="m-menu__logo"><img src="https://www.rigsofrods.org/images/ror-logo.png" alt=""></li>
      </ul>
      <ul class="m-menu__content">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Multiplayer</a></li>
        <li><a href="#">Repository</a></li>
        <li><a href="#">Docs</a></li>
        <li><a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="m-footer">
  <div class="u-container">
    <p>CC BY-NC-SA 4.0</p>
  </div>
</div>
