<div class="m-menu">
  <div class="u-container">
    <div class="m-menu__wrapper">
      <ul>
        <li class="m-menu__logo"><a [routerLink]="['/']"><img src="https://www.rigsofrods.org/images/ror-logo.png" alt=""></a></li>
      </ul>
      <ul class="m-menu__content">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a href="https://forum.rigsofrods.org/">Forum</a></li>
        <li><a href="https://forum.rigsofrods.org/multiplayer">Multiplayer</a></li>
        <li><a href="https://forum.rigsofrods.org/resources/">Repository</a></li>
        <li><a href="https://docs.rigsofrods.org/">Docs</a></li>
        <li><a [routerLink]="['/download']" class="a-button">Download <i-feather name="download"></i-feather></a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="m-footer">
  <div class="u-container">
    <div class="m-footer__wrapper">
      <p class="m-footer__by">Created by <a href="https://github.com/HybridFox" target="_blank">Felikx</a></p>
      <p class="m-footer__license">CC BY-NC-SA 4.0</p>
    </div>
  </div>
</div>
