<div class="o-hero">
  <div class="u-container">
    <h1>Rigs of Rods is an open source vehicle simulator.</h1>
    <h3>Start with unique soft-body physics right now for free</h3>
    <div>
      <a href="#" class="a-button a-button--light">Check it out now <i data-feather="arrow-right"></i></a>
    </div>
  </div>
</div>

<div class="u-container">
  <div class="m-features">
    <div class="m-features__box">
      <i data-feather="bar-chart"></i>
      <div>
        <h3>Popular</h3>
      </div>
      <p>We have combined 6.000.000 over downloads.</p>
      <a href="#" class="a-button">Download for free</a>
    </div>
    <div class="m-features__box">
      <i data-feather="github"></i>
      <div>
        <h3>Open Source</h3>
      </div>
      <p>Our software is free and open source. It will always stay like this</p>
      <a href="#" class="a-button">Checkout on github</a>
    </div>
    <div class="m-features__box">
      <i data-feather="download"></i>
      <div>
        <h3>Mods</h3>
      </div>
      <p>Enjoy a wide range of mods available for free.</p>
      <a href="#" class="a-button">View mods</a>
    </div>
  </div>
</div>

<div class="o-news">
  <div class="u-container">
    <h2 class="a-title"><i data-feather="send"></i> News</h2>
    <div class="o-news__wrapper">
      <div class="m-news">
        <div class="m-news__cover" style="background-image: url(https://images.unsplash.com/photo-1526920929362-5b26677c148c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80)"></div>
        <div class="m-news__content">
          <div class="m-news__title">Some title here</div>
          <ul class="m-news__tags">
            <li>1.2.3</li>
            <li>Gaming</li>
            <li>RoR</li>
          </ul>
          <div class="m-news__preview">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio id debitis culpa voluptas amet, quis nemo dolores! Asperiores accusantium non, ipsa veritatis nulla porro, eum at iure dolores, sit laudantium!
          </div>
        </div>
      </div>
      <div class="m-news">
        <div class="m-news__cover" style="background-image: url(https://images.unsplash.com/photo-1501003878151-d3cb87799705?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)"></div>
        <div class="m-news__content">
          <div class="m-news__title">Some title here</div>
          <ul class="m-news__tags">
            <li>Some</li>
            <li>Other</li>
            <li>Tags</li>
          </ul>
          <div class="m-news__preview">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio id debitis culpa voluptas amet, quis nemo dolores! Asperiores accusantium non, ipsa veritatis nulla porro, eum at iure dolores, sit laudantium!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="o-mods">
  <div class="u-container">
    <h2 class="a-title"><i data-feather="cpu"></i> Featured Mods</h2>
    <div class="o-mods__wrapper">
      <div class="m-mods">
        <div class="m-mods__detail">
          <div class="m-mods__cover" style="background-image: url(https://forum.rigsofrods.org/attachments/screenshot_2019-01-30_17-36-36_1-png.3290)"></div>
          <div class="m-mods__content">
            <h3 class="m-mods__title">Top Gear Test Track</h3>
            <p class="m-mods__description">After 6 years of being leaked to just about everyone...</p>
          </div>
          <a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a>
        </div>
        <div class="m-mods__detail">
          <div class="m-mods__cover" style="background-image: url(https://forum.rigsofrods.org/attachments/screenshot_2019-01-30_17-36-36_1-png.3290)"></div>
          <div class="m-mods__content">
            <h3 class="m-mods__title">Top Gear Test Track</h3>
            <p class="m-mods__description">After 6 years of being leaked to just about everyone...</p>
          </div>
          <a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a>
        </div>
        <div class="m-mods__detail">
          <div class="m-mods__cover" style="background-image: url(https://forum.rigsofrods.org/attachments/screenshot_2019-01-30_17-36-36_1-png.3290)"></div>
          <div class="m-mods__content">
            <h3 class="m-mods__title">Top Gear Test Track</h3>
            <p class="m-mods__description">After 6 years of being leaked to just about everyone...</p>
          </div>
          <a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a>
        </div>
        <div class="m-mods__detail">
          <div class="m-mods__cover" style="background-image: url(https://forum.rigsofrods.org/attachments/screenshot_2019-01-30_17-36-36_1-png.3290)"></div>
          <div class="m-mods__content">
            <h3 class="m-mods__title">Top Gear Test Track</h3>
            <p class="m-mods__description">After 6 years of being leaked to just about everyone...</p>
          </div>
          <a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a>
        </div>
        <div class="m-mods">
          <div class="m-mods__detail">
            <div class="m-mods__cover" style="background-image: url(https://forum.rigsofrods.org/attachments/screenshot_2019-01-30_17-36-36_1-png.3290)"></div>
            <div class="m-mods__content">
              <h3 class="m-mods__title">Top Gear Test Track</h3>
              <p class="m-mods__description">After 6 years of being leaked to just about everyone...</p>
            </div>
            <a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a>
          </div>
          <div class="m-mods__detail">
            <div class="m-mods__cover" style="background-image: url(https://forum.rigsofrods.org/attachments/screenshot_2019-01-30_17-36-36_1-png.3290)"></div>
            <div class="m-mods__content">
              <h3 class="m-mods__title">Top Gear Test Track</h3>
              <p class="m-mods__description">After 6 years of being leaked to just about everyone...</p>
            </div>
            <a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a>
          </div>
          <div class="m-mods__detail">
            <div class="m-mods__cover" style="background-image: url(https://forum.rigsofrods.org/attachments/screenshot_2019-01-30_17-36-36_1-png.3290)"></div>
            <div class="m-mods__content">
              <h3 class="m-mods__title">Top Gear Test Track</h3>
              <p class="m-mods__description">After 6 years of being leaked to just about everyone...</p>
            </div>
            <a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a>
          </div>
          <div class="m-mods__detail">
            <div class="m-mods__cover" style="background-image: url(https://forum.rigsofrods.org/attachments/screenshot_2019-01-30_17-36-36_1-png.3290)"></div>
            <div class="m-mods__content">
              <h3 class="m-mods__title">Top Gear Test Track</h3>
              <p class="m-mods__description">After 6 years of being leaked to just about everyone...</p>
            </div>
            <a [routerLink]="['/download']" class="a-button">Download <i data-feather="download"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>
