<div class="p-download">
  <div class="p-download__itch">
    <div class="u-container">
      <h2 class="a-title"><i-feather name="download"></i-feather> Download</h2>
      <div class="p-download__steps">
        <div class="p-download__step">
          <h3>Step 1</h3>
          <p>Download and install the <a href="https://itch.io" target="_blank">itch.io</a> desktop app</p>
          <a class="a-button" href="https://itch.io/app" target="_blank">Download itch.io</a>
        </div>
        <div class="p-download__step">
          <h3>Step 2</h3>
          <p>Click the button below to install RoR using the itch.io app&</p>
          <a class="a-button" href="itchio://install/351397">Install RoR</a>
        </div>
      </div>
    </div>
  </div>
  <div class="p-download__faq">
    <div class="u-container">
      <h2 class="a-title">FAQ</h2>
      <p>Many questions are answered in the <a href="https://rigsofrods.cf/">documentation</a>, have a look around it.</p>
    </div>
  </div>
  <div class="p-download__legacy">
    <div class="u-container">
      <h2 class="a-title">Legacy versions</h2>
      <p>Checkout legacy versions of RoR <a href="https://sourceforge.net/projects/rigsofrods/files/rigsofrods/museum/" target="_blank">here</a></p>
    </div>
  </div>
</div>
